#brand-story.pane
  .row
    .small-12.medium-12.large-8.text-center
      %h2
        = t :community_headline
      .row
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a.search{href: "/shops"}
          .home-icon-box-bottom
            %h4
              = t :community_step1
            %p.text-normal
              = t :community_step1_text
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a.shop{href: "/shops"}
          .home-icon-box-bottom
            %h4
              = t :community_step2
            %p.text-normal
              = t :community_step2_text
        .small-12.medium-4.columns.text-left
          .home-icon-box
            %a.pick-up-delivery{href: "/shops"}
          .home-icon-box-bottom
            %h4
              = t :community_step3
            %p.text-normal
              = t :community_step3_text
.small-12.medium-4.columns.text-left
          .home-icon-box
            %a.pick-up-delivery{href: "/shops"}
          .home-icon-box-bottom
            %h4
              = t :community_step4
            %p.text-normal
              = t :community_step4_text
